.products-page {
  .products-page-center {
    display: grid;
    padding: 4rem 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    .all-products {
      width: 100%;
    }
  }
  @media screen and (min-width: 768px) {
    .products-page-center {
      grid-template-columns: auto 1fr;
      column-gap: 2rem;
    }
  }
}
