.add-to-cart-section {
  .colors {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    p {
      line-height: 0;
      font-weight: bold;
      margin-right: 4.5rem;
      transform: translateY(8px);
    }
    .color {
      height: 1.5rem;
      width: 1.5rem;
      border-radius: 50%;
      margin: 0 5px;
      position: relative;
      opacity: 0.6;
      cursor: pointer;
      .color-checkmark {
        visibility: hidden;
      }
    }
    .active-color {
      opacity: 1;
      .color-checkmark {
        visibility: visible;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
}
