.single-product-card {
  width: 1fr;

  .img-container {
    overflow: hidden;
    width: 100%;
    height: 225px;
    border-radius: 5px;
    position: relative;
    img {
      object-fit: cover;
      display: block;
      width: 100%;
      min-height: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    .layer {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000;
      opacity: 0;
      transition: all 300ms ease-out;
    }
    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      font-size: 22px;
      color: #fff;
      background-color: var(--clr-primary-5);
      opacity: 0;
      line-height: 0;
      padding: 0.75rem;
      border-radius: 50%;
      transition: all 300ms ease-out;
    }

    &:hover {
      .layer {
        opacity: 0.4;
      }
      a {
        opacity: 1;
      }
    }
  }
  .product-title {
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 15px;
    .product-price {
      color: var(--clr-primary-5);
    }
  }
}
